@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;600&display=swap');

:root{
    --UM: #f5f5f7;
    --DOIS: #ffffff;
    --TRES: #247ba0;
    --QUATRO: #1b98e0;
    --CINCO: #ffffff;
    --shadow: #9c9c9c88;
    --violet: #8876fe;
    --magenta: #d71bce;
    --plum: #8d1287;
    --indigo: #622aff;
    --grape: #6529f8;
    --azure: #027fff;
    --tomato: #f63e54;
    --orange: #e66702;
    --green: #0c9d46;
    --forest: #0c8346;
    --sea-green: #099b9d;
    --teal: #049cb7;
    --aqua: #039e8f;
    --moonstone: #2294b1;
    --midnight: #1b23b3;
    --sapphire: #3d44c3;
}

body{
    background-color: var(--UM);
    font-size: 15px;
    font-family: Overpass, sans-serif;
    margin: 0px;
}

#container{
    height: auto;
    width: 700px;
    margin: 20rem auto;
    background-color: var(--CINCO);
    border-radius: 20px;
    box-shadow: 4px 7px 10px var(--shadow);
}

.title{
    background-color: var(--grape);
    color: var(--CINCO);
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.formJuros{
    padding: 30px;
}

.formInput{
 width: 40px;
 padding: 5px;
 border: 1px solid gray;
 border-radius: 8px;
}

.formInput.one{
    width: 90%;
}
.subOne{
    align-items: center;
    text-align: center;
}

.formInput:focus{
    border: 3px solid var(--grape);
}

.formSelect{
    width: 100px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 8px;
}

.formSelect:focus{
    border: 3px solid var(--grape);
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
    background-color: var(--grape);
    color: white;
    width: 200px;
    height: 30px;
    border: none;
}
.formSubmit:hover{
background-color: var(--green);
}

.labelInput{
    color: gray;
}

.labelInput.one{
    font-weight: bold;
    font-size: large;
    display: block;
    text-align: center;
}